POLYGON_KEY=https://polygon.io/dashboard/signup?redirect=%2Fdashboard%3F
FRED_KEY=https://fred.stlouisfed.org/docs/api/api_key.html
CLIENT=POSTGRES
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=STOCK_ANALYZER
POSTGRES_HOST=pgdatabase
DB_PATH=folder_path/